.container {
    width: 90%;
    max-width: 600px;
    padding: 16px;
}

.container h2 {
    text-align: center;
}

.btn {
    margin-top: 15px;
}

.form-check {
    margin-top: 10px;
}